body,
header h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background: #333;
}
nav a {
  padding: 1.25em 1.5em;
  color: #ccc;
  background: #555;
  text-decoration: none;
  transition: all 1.5s;
}
nav a:hover {
  color: #fdf;
  background: #979;
}
nav {
  flex-direction: column;
  width: 15%;
  float: left;
}

main {
  width: 85%;
  padding: 0 1.5em;
  float: right;
  box-sizing: border-box;
}

.red {
  color: #900;
}




